.pageContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff8f6;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4rem; /* Espacio antes del footer */
}

.searchSection {
  width: 100%;
  background-color: #fff8f6;
}
